:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

p,
h1 {
  margin: 0;
}

#error-page {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.login-image {
  width: 100%;
  height: 100vh;
}

.form-container {
  gap: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-weight: bold;
      font-size: 15px;
      color:darkgray;
      cursor:pointer;
    }

    input {
      height: 2.5rem;
      border-radius: 2rem;
      margin-top: 2px;
      padding: 10px;
      outline: none;
      width: 20rem;
      border: 1px solid #bbb;
      -webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
      -webkit-transition:0.2s ease all;
      -moz-transition:0.2s ease all;
        -ms-transition:0.2s ease all;
        -o-transition:0.2s ease all;
            transition:0.2s ease all;
    }
  }

}


.login-header {
  text-align: center;
  margin-bottom: 2rem;

  & h1 {
    color: #000;
  }
}

.form-sub-text{
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 2rem;
  &:hover{
    text-decoration: underline;
  }
}

input[type=submit] {
	padding:15px 50px;
	width:100%;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
  margin-bottom: 3rem;
	display:inline-block;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}


.gray-text{
  font-size: 10px;
  color: gray;
  text-align: center;
}